/****
Author: Abdoulrazak Omar bogoreh
Version: 3.3.1;
Date: 03/01/2019
**/

article h2, article p{
	   /*font-family: arial, helvetica, sans-serif;*/
/*font-family: totallyAwesomeFont, helvetica, sans-serif;*/
font-family: totallyAwesome, hanFont, sans-serif;


}