/*********
Author: Abdibogoreh
Date: 04/02/2019
**********/

#banner{
	  width: 100%;
	  height: 300px;
	  /*background-color: #000000;*/
	  /*background-color: #520000;*/
	  /*background-color: #0000f0;*/
	  /*background-color: #ffffff;*/
	  /*background-color: #ffaaff;*/
	  /*background-color: #44aaff;*/
	  /*background-color: rgb(00, 00, 00);*/
	  /*background-color: rgb(255, 255, 255);*/
	  /*background-color: rgb(250, 150, 60);*/
	}