body {
		color: green;
    font-family: verdana, Arial, Geneva, Arial Black;
	}

	h1, h2 {
		text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;
    text-decoration: underline overline;
	   }

  		.blue {
  			color: blue;
  			font-size: 25px;
  			font-family: Helvetica;
  		  }

  		  