/*****
Author: Abdibogoreh;
Date: 03/02/2019;
Version: 3.3.1;
******/

h2 {
	font-size: 24px;
}

#content-header {
	font-size: 18px;
	color: red;
}

/*
.deck {
	display: block;
	color: blue;
}
*/


span {
	display: block;
	color: blue;
}

.deck {
	 color: red;
}