#wrapper {
	 width: 960px;
	 margin-right: auto;
	 margin-left: auto;
}

header {
	   height: 150px;
	   background: red;
}

section {
	  float: left;
	  background: green;
	  width: 650px;
	  height: 300px;
}

aside {
	float: right;
	width: 300px;
	background-color: blue;
	height: 300px;
}

footer {
	    clear: both;
		background: orange;
		height: 50px;
}