.box{
	 /*margin: 30px 20px 15px 5px;*/
	 /*margin: 30px 15px;*/
	 /*
	 margin: 30px 15px 20px;
	 padding: 30px;
	 border: 1px solid #000;
	 width: 300px;
	 */
	 margin: 25px 25%;
	 border: 1px solid #000;
	 width: 50%;
}