/******
Author: Abdibogoreh;
Date: 03/02/2019;
Version: 3.3.1;
******/
/*
span[class]{
	 color: purple;
}
*/

span[class="deck"]{
	color: purple;
}

div[id]{
	background: grey;
}

/*
a[title]{
	 color: red;
}
*/

a[title="Searchengine"]{
	 color: red;
}

a[hrefs="pdf"]{
	color: green;
}

a[href^="http"]{
	color:pink;
}